@font-face {
    font-family: 'mhs_font';
    src: url('../font/BebasNeuePro-Book.eot');
    src: local('Bebas Neue Pro Book'), local('BebasNeuePro-Book'),
    url('../font/BebasNeuePro-Book.eot?#iefix') format('embedded-opentype'),
    url('../font/BebasNeuePro-Book.woff2') format('woff2'),
    url('../font/BebasNeuePro-Book.woff') format('woff'),
    url('../font/BebasNeuePro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "mhs_font";
    border-radius: 10px;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: #000000;
}

.content_max_width {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/* background for the site*/
html {
    background-image: linear-gradient(45deg,
    rgb(173, 234, 188) 0%,
    rgb(197, 229, 109) 25%,
    rgb(240, 129, 245) 50%,
    rgb(197, 229, 109) 75%,
    rgb(173, 234, 188) 100%);
    background-size: auto;
    background-attachment: fixed;
}

/*menu*/

.menu {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu #logo img {
    height: 80px;
}

.menu #logo a {
    text-align: left;
}

.menu ul {
    display: block;
    text-align: center;
    padding: 5px;
}

.menu li {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    text-align: center;

}

.menu a:hover {
    padding: 15px;
    transform: scale(1.5);
    transition: 1s;
    background-color: #999999;
}

#menu{ /*div for including the menu via php*/
    height: 100px;
}

/*end menu*/

/*map div*/
#mapid{
    width: 640px;
    height: 480px;
    border: 3px solid black;
    background-color: #999999;

}



input.submit {
    font-family: Impact, Charcoal, sans-serif;
    margin-top: 5px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
}

input.submit:hover {
    background-color: rgba(100%, 100%, 100%, 0.6);
}

input {
    background-color: transparent;
    font-family: Impact, Charcoal, sans-serif;
}

input:hover {
    background-color: rgba(100%, 100%, 100%, 0.6);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.flex-wrap-col {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    margin-left: 15%;
    width: 85%;
    height: 200%;

}

.flex-center-row {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    text-align: center;
}

.flex-right {
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.flex-left {
    display: flex;
    justify-content: left;
    width: 40%;
    background-color: rgba(100%, 100%, 100%, 0.6);
}

.back-lime {
    /*background-color: #73b832;*/
    background-color: rgba(115, 184, 50, 0.8);

}

.border {
    border: 10px solid rgb(34, 139, 34);
}

pre {
    font-family: Impact, Charcoal, sans-serif;
}

.back-red {
    background-color: rgba(100%, 0%, 0%, 0.8);
}

.tightwrap {
    display: inline-flex; /* keep the background color wrapped tight */
    padding: 5px;
    background-color: #73b832;

}

.container {
    text-align: center;
}

.font30 {
    font-size: 30px;
}

.font45 {
    font-size: 45px;
}

.font20 {
    font-size: 20px;
}


.lime {
    background-color: #73b832;
}

.mar10 {
    margin: 10px;
}

.pad10 {
    padding: 10px;
}

.margin-left-15pr {
    margin-left: 15%;
}

.margin-left-20pr {
    margin-left: 20%;
}

table, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #73b832;
}

td {
    text-align: left;
    padding: 10px;
}

.width22pr {
    width: 22%;
}

@media screen and (max-width: 768px) {
    .content_max_width {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}